<li class="job">
  <dl>
    <dt>ID</dt>
    <dd>
      <a name="<%= job.id %>"></a>
      <a href="#<%= job.id %>"><%=h job.id %></a>
    </dd>

    <%= partial :job_details, {:job => job} %>
  </dl>
</li>
